
.icon-cancel:before { content: '\e800'; } /* '' */
.icon-down-open:before { content: '\e801'; } /* '' */
.icon-login:before { content: '\e802'; } /* '' */
.icon-basket:before { content: '\e803'; } /* '' */
.icon-search:before { content: '\e804'; } /* '' */
.icon-user:before { content: '\f061'; } /* '' */
.icon-github-circled:before { content: '\f09b'; } /* '' */
.icon-down-circled:before { content: '\f0ab'; } /* '' */
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-pinterest-squared:before { content: '\f0d3'; } /* '' */
.icon-youtube:before { content: '\f167'; } /* '' */
.icon-tumblr-squared:before { content: '\f174'; } /* '' */
.icon-reddit:before { content: '\f1a1'; } /* '' */
.icon-paper-plane-empty:before { content: '\f1d9'; } /* '' */
.icon-copyright:before { content: '\f1f9'; } /* '' */
.icon-toggle-on:before { content: '\f205'; } /* '' */
.icon-shopping-bag:before { content: '\f290'; } /* '' */
.icon-facebook-squared:before { content: '\f308'; } /* '' */
