{% extends 'game/base.html' %}
{% load static %}

{% block title %}
<title>{{title}}</title>
{% endblock %}

{% block content %}
<main>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-12 col-lg-7 col-xl-6 mx-auto">
                    <div  style="margin-left: calc(50% - 50vw);margin-right: calc(50% - 50vw);position: relative; max-width: 100vw;width: auto; "class="div">
                        <img style="display: block;object-fit: cover;height: 800px;max-width: 100%;width: 100%;" src="{% static 'game/img/about_walp.jpg' %}" class="img-fluid" alt="">
                        <div style="position: absolute;bottom:0;left:0;right:0;top:0;overflow: hidden;width: 100%;">
                            <p style="position: absolute;left: 50%;top: 50%; font-size: 80px;transform: translate(-45%, -50%)" class="text-white text-center">О Сайте</p>
                        </div>
                    </div>
                    <br>
                    <div>
                         <p>Я не знаю о чем будет сайт или как правильно описать зачем он тебе нужен.Но возможно у меня получиться в кратце описать.</p>
                        <p><nobr class="fw-bold p">Anime-Point</nobr>(название временное) - это уникальный онлайн-ресурс, созданный для всех любителей аниме и веб-разработки(<nobr class="fw-bold p">нет</nobr>). Наш сайт объединяет две страсти, которые кажутся несопоставимыми, но при ближайшем рассмотрении обнаруживается их взаимосвязь.</p>
                        <p class="fw-bold">Что вы найдете на нашем сайте:</p>
                        <ul>
                            <li><nobr class="fw-bold p">Аниме-рецензии и обзоры:</nobr> Мы предоставляем самые актуальные и информативные обзоры аниме-сериалов и фильмов. Наши авторы делятся своими впечатлениями, анализируют сюжеты, персонажей и стили анимации. Вы сможете найти как классические шедевры жанра, так и новинки, только что вышедшие на экраны.</li>
                            <li><nobr class="fw-bold p" >Учебные материалы по веб-разработке:(нет)</nobr> Наш сайт предоставляет обширные ресурсы для тех, кто интересуется веб-разработкой. Мы предлагаем учебные материалы, статьи и уроки по программированию, дизайну веб-сайтов, а также советы по оптимизации и продвижению сайтов.</li>
                            <li><nobr class="fw-bold p" >Форум и общение:(нет)</nobr>У нас есть активное сообщество аниме-фанатов и веб-разработчиков, которые могут обсуждать свои интересы, делиться опытом и задавать вопросы друг другу. Форум нашего сайта становится местом обмена знаниями и идеями.</li>
                            <li><nobr class="fw-bold p" >Искусство и творчество:(нет)</nobr>Мы поддерживаем творчество наших пользователей. Здесь можно публиковать свои арт-работы, рассказы, комиксы и даже создавать собственные веб-проекты. Мы поощряем самовыражение и сотрудничество.</li>
                            <li><nobr class="fw-bold p" >Новости и обновления:(нет)</nobr>Сайт регулярно обновляется новыми материалами и статьями. Мы следим за последними новостями в мире аниме и веб-разработки, чтобы предоставить вам актуальную информацию.</li>
                        </ul>
                        <p class="fw-bold p">Наши цели:</p>
                        <p>Мы стремимся создать место, где аниме-фанаты и веб-разработчики могут объединиться, учиться, вдохновляться и сотрудничать. Мы верим, что взаимодействие этих двух миров может привести к удивительным и инновационным идеям.</p>
                        <p class="fw-bold p">Присоединяйтесь к нам:</p>
                        <p>Мы приглашаем вас присоединиться к нашему сообществу Аниме и Сайты. Будьте в центре событий в мире аниме и веб-разработки, делитесь своими интересами и знаниями, и помогайте нам создавать уникальное место для всех, кто разделяет наши страсти. Добро пожаловать на наш сайт!</p>
                    </div>
                </div>
            </div>
            <br>
        </div>
    </main>
{% endblock %}