{% load game_tags %}
{% load static %}

{% get_video  as video %}

<iframe id="source_video" src="{{video.title.first.video}}#t=0.5" width="100%" height="400" frameborder="0" allowfullscreen=""></iframe>
<div class="container">
    <br>
    <div style="background-color:rgb(50,50,50);border-radius:10px;padding-bottom:10px;padding-top:15px" class="row text-start text-white mx-5">
        <div  class="col-12">
            {% for i in video.title %}
            {% if forloop.counter == 1 %}
            <a style="background-color:rgb(25,25,25);padding-right:15px;height:45%;display:flex-inline;padding-top:1px" onclick="changeVideo('{{i.video}}')" class="btn hover_video selected_video select_number">{{forloop.counter}}</a>
            {% else %}
            <a style="background-color:rgb(25,25,25);padding-right:15px;height:45%;display:flex-inline;padding-top:1px; margin-top:2px" onclick="changeVideo('{{i.video}}')" class="btn hover_video selected_video">{{forloop.counter}}</a>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<script>
const v = document.getElementById("source_video");

function changeVideo(t) {
   v.src = t;
   v.load();
   v.play();
}
$(".selected_video").click(function() {
$(".selected_video").removeClass("select_number");
$(this).addClass("select_number");
});
</script>